<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" id="img-bg"> </div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="digite seu nome">

                        <div class="form-group">
                            <label for="profissao">Profissão</label>
                            <select class="form-control" name="profissao" id="profissao">
                                <option>Selecione sua profissão:</option>
                                <option value="costureira">Costureira</option>
                                <option value="modelista">Modelista</option>
                                <option value="Empresa">Empresa</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input class="form-control" type="password" name="senha" id="senha"
                                placeholder="digite sua senha">
                        </div>

                        <div class="form-group">
                            <label for="ConfirmeSenha">Confirme sua Senha</label>
                            <input class="form-control" type="password" name="ConfirmeSenha" id="ConfirmeSenha"
                                placeholder="Confirme sua senha">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="agora-nao">Agora não</button>
                            <button type="submit" class="cadastrar">Cadastrar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>